# ansible.cfg - Ansible Configuration File
# This file is automatically read by Ansible when you run commands

[defaults]
# Where is your servers list?
inventory          = hosts.ini
timeout            = 60
# Default SSH user for AWS Amazon Linux
remote_user        = ec2-user

# Path to your SSH private key (.pem file)
private_key_file   = ~/.ssh/Ansible_test.pem

# Don't ask 'Are you sure you want to connect?' for known hosts
host_key_checking  = False

# Show colored output in terminal
force_color        = True

# How many servers to patch at the same time
forks              = 5

# Save logs here
log_path           = ./logs/ansible.log

[privilege_escalation]
# Use 'sudo' to run commands as root on target servers
become             = True
become_method      = sudo
become_user        = root
